<form #form="ngForm" (ngSubmit)="register(form)">
  <h3>Register Here</h3>
<!-- USERNAME -->
  <label for="username">Username</label>
  <input
    type="text"
    placeholder="Username"
    id="username"
    name="username"
    #inputUsername="ngModel"
    ngModel
    required
    minlength="6"
  />
  <ng-container *ngIf="(inputUsername.dirty || inputEmail.touched)">
    <p class="error" *ngIf="inputUsername.errors?.['minlength']">
      *Username should be at least 6 characters long!
    </p>
    <p class="error" *ngIf="inputUsername.errors?.['required']">
      *Username is required!
    </p>
  </ng-container>
<!-- EMAIL -->
  <label for="email">Email</label>
  <input
    type="text"
    placeholder="Email"
    id="email"
    name="email"
    #inputEmail="ngModel"
    ngModel
    required 
    [appEmailValidation]="[]"
  />
  <ng-container *ngIf="(inputEmail.dirty || inputEmail.touched)">
    <p class="error" *ngIf="inputEmail.errors?.['required']">
      *Email is required!
    </p>
    <!-- feafafawfaw -->
    <p class="error" *ngIf="inputEmail.errors?.['appEmailValidator']">
      *Email is Invalid!
    </p>
  </ng-container>
<!-- PASSWORD -->
  <label for="password">Password</label>
  <input
    type="password"
    placeholder="Password"
    id="password"
    name="password"
    #inputPassword="ngModel"
    ngModel
    required
    minlength="6"
  />
  <ng-container *ngIf="(inputPassword.dirty || inputPassword.touched)">
    <p class="error" *ngIf="inputPassword.errors?.['minlength']">
      *Password should be at least 6 characters long!
    </p>
    <p class="error" *ngIf="inputPassword.errors?.['required']">
      *Password is required!
    </p>
  </ng-container>
  <!-- REPASSWORD -->
  <label for="repeatPassword">Confirm password</label>
  <input
    type="password"
    placeholder="Confirm password"
    id="rePassword"
    name="rePassword"
    #inputRepassword="ngModel"
    ngModel
    required
    minlength="6"
    [appMatchPassword]="'password'"
  />
  <ng-container *ngIf="(inputRepassword.dirty || inputRepassword.touched)">
    <p class="error" *ngIf="inputRepassword.errors?.['appMatchPassword']">*Repeat Password does not match password!</p>
    <p class="error"*ngIf="inputRepassword.errors?.['required']">*Password is required</p>
  </ng-container>
  <button>Register</button>
  <div class="signup_link">
    Alredy a member?&nbsp; 
    <a href="/register">Login Here</a>
  </div>


</form>
