<div id="container">
    <table>
      <tr style="text-align:center;">
        <td>Image</td>
        <td>Model</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Subtotal</td>
        <td> </td>
      </tr>
      <tr class="p" *ngFor="let product of products">
        <td class="image"><img src="{{product.image}}" /></td>
        <td class="name">{{product.brand | titlecase}}</td>
        <td class="price">{{product.price |currency}}</td>
        <!-- <td class="amount"><input type="number" value="1" min="1"  [value]="inputQuantity" (change)="changeQuantity($event)"/></td> -->
        <td class="amount"><input type="number" value="{{product.quantity}}" min="1"  #inputValue [ngModel]="product.quantity" (ngModelChange)="changeQuantity($event,product.shoeId,inputValue)"/></td>
        <td class="pricesubtotal">{{product.price * product.quantity | currency}}</td>
        <td class="remove"><div (click)="removeItemFromCart(product.shoeId)">x</div></td>
      </tr>
     
      <tr>
        <td style="border-top:1px solid white" colspan="6">
          <span class="big">Total: $<span class="realtotal">{{cartTotal}}</span></span>
        </td>
      </tr>
    </table>
      <button id="checkout" [disabled]="products.length === 0" (click)="onCheckOut()">Checkout<span> &rarr;</span></button>
    </div>