<div id="container">
  <article id="card">
    <header>
      <span id="nike" class="brand">{{shoe?.brand}}</span>
    </header>
    <img
      id="shoe"
      src="{{shoe?.image}}"
      alt=""
    />
    <section>
      <div id="shoeInfo">
        <span id="model" class="model">{{shoe?.model}}</span>
        <p>Size: {{shoe?.size}}</p>
        <p>Gender: {{shoe?.gender}} </p>
        <p>Price: {{shoe?.price}}</p>
      </div>
    </section>
    <button routerLink="/shoes/{{shoe?._id}}">Details</button>
  </article>
</div>
