
.content {
    margin-top: 8%;
   /* float: right; */
   /* margin-right: 20%; */
}

.content h1 {
    font-size: 88px;
    margin-bottom: 15px;
}

.content h1 span {
    color: #0d091e;
}

.content p {
    line-height: 22px;
    font-size: 14px;
}

.content .trade {
    display: inline-block;
    margin-top: 30px;
    background: #030201;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
}