<form action="#" method="">
  <label>Brand:</label>
  <input type="text" id="brand" name="" placeholder="" />
  <label>Model:</label>
  <input type="text" id="model" name="" placeholder="" />
  <label>Size:</label>
  <input type="number" id="size" name="" placeholder="" />
  <label>Price:</label>
  <input type="number" id="price" name="" placeholder="" />
  <label>Image:</label>
  <input type="text" id="imageUrl" name="" placeholder="" />
  <label>Description:</label>
  <textarea id="description" name="" placeholder=""></textarea>

  <!-- <input type="text" id="btn"></input> -->
  <button id="btn">Post</button>
  <!-- <input type="submit" id="btn" value="TRADE"></input> -->
</form>

<app-shoe-list/>