<form #form="ngForm" (ngSubmit)="login(form)">
  <h3>Login Here</h3>

  <label for="email">Email</label>
  <input
    type="text"
    placeholder="Email"
    id="email"
    #inputEmail="ngModel"
    ngModel
    required
  />
  <ng-container *ngIf="inputEmail.touched">
    <p class="error" *ngIf="inputEmail.errors?.['required']">
      *Email is required!
    </p>
    <p class="error" *ngIf="inputEmail.errors?.['fawfawfaw']">
      *Email is Invalid!
    </p>
  </ng-container>

  <label for="password">Password</label>
  <input
    type="password"
    placeholder="Password"
    id="password"
    #inputPassword="ngModel"
    ngModel
    required
  />
  <ng-container *ngIf="inputPassword.touched">
    <p class="error" *ngIf="inputEmail.errors?.['required']">
      *Password is required!
    </p>
    <p class="error" *ngIf="inputEmail.errors?.['minlength']">
      *Password should be at least 8 characters long!
    </p>
  </ng-container>

  <button>Log In</button>
</form>
