<form #form="ngForm" (ngSubmit)="login(form)">
  <h3>Login Here</h3>

  <label for="email">Email</label>
  <input
    type="text"
    placeholder="Email"
    id="email"
    name="email"
    #inputEmail="ngModel"
    ngModel
    required
    [appEmailValidation]="[]"
  />
  <ng-container *ngIf="inputEmail.touched">
    <p class="error" *ngIf="inputEmail.errors?.['required']">
      *Email is required!
    </p>
    <p class="error" *ngIf="inputEmail.errors?.['appEmailValidator']">
      *Email is Invalid!
    </p>
  </ng-container>

  <label for="password">Password</label>
  <input
    type="password"
    placeholder="Password"
    id="password"
    name="password"
    #inputPassword="ngModel"
    ngModel
    required
    minlength="6"
  />
  <ng-container *ngIf="inputPassword.touched">
    <p class="error" *ngIf="inputPassword.errors?.['required']">
      *Password is required!
    </p>
    <p class="error" *ngIf="inputPassword.errors?.['minlength']">
      *Password should be at least 6 characters long!
    </p>
  </ng-container>

  <button>Log In</button>

  <div class="signup_link">
    Not a Member?&nbsp; 
    <a href="/register">Register</a>
  </div>
</form>
