.navigation > nav {
  /* background-color: #262322; */
 z-index: 999;
 position: relative;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  height: 130px;
}

.navigation > nav img {
  width: 100px;
  padding: 5px;
  filter: grayscale() brightness(2);
}

.navigation > nav ul {
  margin-left: 100px;
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 30px;
  
}

.navigation > nav li {
  height: 1.6em;
  display: block;
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 4px solid transparent;
}

.navigation > nav li:hover {

  border-bottom: 4px solid rgb(3, 68, 101);
}
.navigation > nav li a {
  text-decoration: none;
  color: white;
}
/* ERROR */
.notification{
  position: fixed;
  z-index: 10;
  right: 8%;
  top: 8%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  font-style: italic;
  text-decoration: underline;
  box-shadow: 0 5px 10px rgb(204, 204, 204);
  background-color: rgba(238, 74, 74, 0.699);
 }
 .error-message {
  background-color: rgba(238, 74, 74, 0.699);
 }
 .success-message {
  background-color: rgba(99, 230, 81, 0.699);
 }
 